.faq-page {
    display: flex;
    justify-content: center;
}

.qa-grid {
    display: flex;
    flex-direction: row;

    gap: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;

    width: 80%;
    height: 60%;
}


.qa-card {
    display: flex;
    height: 300px;
    width: 350px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.qa-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(255, 143, 225);
}

.qa-head {
    color: rgb(255, 143, 225),

}


@media (max-width: 768px) {
    .qa-grid {
        display: flex;
        flex-direction: column;

        gap: 20px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;

        width: 80%;
        height: 60%;
    }

    .qa-card {
        display: flex;
        height: 300px;
        width: 350px;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
        border-radius: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
    }


    .qa-card:hover {
        transform: scale(1.3);
        box-shadow: 0 0 20px rgb(255, 143, 225);
    }

}