.navbar {
    position: fixed;
    align-items: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background: rgba(132, 7, 160, 0.6);
    /* Semi-transparent background */
    padding: 10px 20px;
    text-align: center;
    z-index: 1000;
    /* Align text to the right for Hebrew */
    opacity: 0;
    animation: fadeIn 0.8s ease-in 1.2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    /* Ensures menu items align to the right */
    padding-right: 20px;
    /* Adds spacing from the right */
}

.navbar li {
    display: inline-block;
    /* Ensures proper spacing */
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    padding: 10px 15px;
    /* Add padding to make hover easier */
}

.navbar a:hover {
    transform: scale(1.2);
    /* Increases size on hover */
    color: #0f9df0;
    /* Changes text color */
}