.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: -webkit-linear-gradient(rgb(12, 128, 230), rgb(219, 16, 181));
    padding: 10px 20px;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.8s ease-in 1.2s forwards;
    overflow-x: auto;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

/* Center the UL using absolute positioning trick */
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-center ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-left .logo {
    height: 90px;
    object-fit: contain;
    margin-left: 10px;
    margin-bottom: 17px;
    border-radius: 200px;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Assistant';
    display: inline-block;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    padding: 10px 15px;
}

.navbar a:hover {
    transform: scale(1.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}