.page-content {
    margin-top: 30px;
    display: flex;
    color: rgb(225, 8, 178);
    width: 99vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    overflow-x: hidden;
    animation: fadeIn 0.5s ease-in forwards;
    opacity: 0;
}



.transition-sign {
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    width: 60vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-top: 300px;
    margin-bottom: 100px;
    box-shadow: 0 0 30px rgb(255, 143, 225);
}

.transition-sign .qa-head {
    margin: 0;
    text-align: center;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.signs {
    display: flex;
    flex-direction: row-reverse;

    padding: 10px;
}

.button {
    background-color: black;

}

canvas-container NeonSign {
    z-index: -1000;
}