.page-content {
    margin-top: 30px;
    display: flex;
    color: #0f9df0;
    width: 99vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.signs {
    display: flex;
    flex-direction: row-reverse;

    padding: 10px;
}

.logo {
    max-width: 90%;
    max-height: 85vh;
    object-fit: contain;
}

buttons {
    z-index: 100;
    display: flex;
    flex-direction: row;


}