.qa-grid {
    display: flex;
    flex-direction: row;

    gap: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    margin-top: 100px;
    width: 80%;
    height: 80%;
}


.qa-card {
    display: flex;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.qa-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(255, 143, 225);
}

.qa-head {
    color: rgb(255, 143, 225),

}